[submodule "hls_components"]
	path = hls_components
	url = git@andyizen:andyizen/hls_components.git
	branch = main
[submodule "filterbook"]
	path = filterbook
	url = git@andyizen:andyizen/filterbook.git
	branch = main
[submodule "cpp_filter"]
	path = cpp_filter
	url = git@andyizen:andyizen/cpp_filter.git
	branch = master
[submodule "vivado"]
    path = vivado
    url = https://github.com/andyizen/vivado.git
	branch = main
