# Ignore everything
*

!app
!app/*.cpp
!app/*.h

!test
!test/golden
!test/golden/fig
!test/input
!test/meas
!test/meas/biquad_DFI
!test/meas/biquad_DFII
!test/meas/biquad_DFI_float
!test/meas/biquad_DFII_float
!test/meas/biquad_DFI/fig
!test/meas/biquad_DFII/fig
!test/meas/biquad_DFI_float/fig
!test/meas/biquad_DFII_float/fig

!test/result
!test/result/biquad_DFI
!test/result/biquad_DFII
!test/result/biquad_DFI_float
!test/result/biquad_DFII_float

!make.bat
!.gitignore
!.gitmodules